/* universal selector */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/* root psuedo element */

:root{
  --primary-background-color:#fff;
  --secondary-background-color:#000;
  --primary-color:#000;
  --secondary-color:#fff;
  --primary-border-color:#333;
}